.event-item{
    width: 100%;
    max-width: 280px;
    margin: 20px 0;
    border-radius: 15px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    transition: 0.3s;
    animation: fadeIn 1s;
    display: flex;
    flex-direction: column;
}

.event-item-img{
    width:100%;
    height: 350px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.event-item-img:hover{
    transform: scale(1.11);
    cursor: pointer;
}
.event-item-image{
    height: 18px;   
}

.event-item-image:hover{
    cursor: pointer;
    transform: scale(1.3);
}
.event-item-info{
    border-top: 1px solid #e5e7eb;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
}

.event-item-top{
    display:flex;
    gap:8px;
    align-items: center;
}
.event-item-link{
    color: blue;
    cursor: pointer;
    font-size:18px;
}
.event-item-link:hover{
    color: rgb(151, 151, 212);
}
