.internship-item{
    width: 85%;
    margin:10px;
    border-radius: 0px 0px 10px #00000015;
    transition: 0.3s;
    animation: fadeIn 1s;
    
}

.internship-item-img{
    width:100%;
    border-radius:15px 15px 0px 0px ;
}

.internship-item-image{
    height: 18px;   
}
.internship-item-img:hover{
    transform: scale(1.11);
}

.internship-item-image:hover{
    cursor: pointer;
    transform: scale(1.3);
}

.internship-item-info{
    display:flex;;
    padding: 8px;
    gap:10px;
    align-items: center;
    border:1px solid black;
}
.internship-item-link{
    color: blue;
}
.internship-item-link:hover{
    color:rgb(110, 110, 173);
    cursor: pointer;
}