.navbar{
    padding: 5px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    width: 100%;
}
.navbar-left{
    display: flex;
    gap: 40px;
    color:#63709b;
    font-size: 18.2px;
}
.navbar-left a{
    cursor: pointer;
    text-decoration: none;
}

.navbar-left a:hover{
 color:#a9b2d1  ;
}
.profile{
    width: 20px;
}
.navbar-right{
    display: flex;
    align-items: center;
    gap:40px;
}

.navbar Button{
    background:transparent;
    font-size:16px;
    color:#49557e;
    border: 1px solid rgb(78, 196, 78);;
    padding: 10px 30px;
    border-radius:50px;
    cursor: pointer;
    transition:0.3s;
}
.navbar button:hover{
     background-color:rgb(159, 245, 78);
}

.navbar-right li{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-right: 35px;
    font-size: 20px;
    color:#5e6d9c;
    
}

.navbar-right li:hover{
    color:#cbcdd4 ;
}

.navbar-right img{
    color: black;
    width: 30px;
}