.home-image{
    width: 100%;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    transition: 0.9s;
    animation: fadeIn 2s;
}

.home-image img{
    display: block;
    width: 100%;
    height: calc(100vh - 72px);
    object-fit: cover;
    object-position: center;
}
   